a {
    color:white;
}
.email-form input {
    background-color: #f4f4f4;
    padding: 12px 8px;
    border-radius: 18px;
    display: inline-block;
    position: relative;
}

.email-form label {
    padding: 5px;
    font-size: 20px;
    background-color: #f4f4f4;
    border-radius: 18px;
    display: inline-block;
    position: relative;
}
.html, body {
    height: 100%;
}


.body {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.email-form p {
    display: inline-block;
    position: relative;
    padding: 5px;
}

.email-form textarea {
    background-color: #f4f4f4;
    padding: 14px 8px;
    border-radius: 18px;
    position: relative;
}

.email-form select {
    word-wrap: normal;
    border: none;
    width: 100%;
    background-color: #f4f4f4;
    font-size: 20px;
}

.send_mail {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: floralwhite;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
}
.attachment {
    width: 38%;
}

.login-panel {
    padding: 15% 30%;
    position: relative;
}



